.header-container {
	grid-row: 1;
	grid-column: 1 / 6;
	grid-template-columns: 85px repeat(3, 1fr) 85px;
}

.header-logo {
	grid-row: 1;
	grid-column: 2 / 5;
	justify-self: center;
	align-self: center;
	font-family: var(--font-style-gloria);
	font-size: var(--font-logo);
}

.header-search-bx {
	grid-row: 1;
	grid-column: 4 / 5;
	justify-self: end;
	align-self: center;
	width: 321px;
	height: 45px;
	background-color: var(--color-white);
}

.search-icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) !important;
	width: 24px;
	height: 24px;
	margin-left: 12px;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
	border: 1px solid var(--color-white);
	background-color: var(--color-navy);
	color: var(--color-white);
	font-size: var(--font-regular);
	line-height: 50%;
}

.input-white::after {
	content: "검색";
	top: 0;
	right: 0;
	width: 100px;
	border: 1px solid var(--color-white);
	color: var(--color-white);
	background-color: var(--color-navy);
}

.nav-container {
	grid-row: 2;
	grid-column: 1 / 4;
	grid-template-columns: 85px 1fr 1fr 85px;
	justify-content: space-between;
}

.nav-menu {
	display: inline-flex;
	flex-direction: row;
	grid-row: 1;
	grid-column: 2 / 4;
	align-items: center;
}

.nav-item {
	padding-right: 50px;
	font-family: var(--font-style-noto);
	font-size: var(--font-semi-large);
	font-weight: var(--weight-bold);
}

.nav-item a {
	color: var(--color-navy);
}

.nav-icons {
	grid-row: 1;
	grid-column: 3 / 4;
	justify-self: end;
	align-self: center;
}

.nav-icon-wrap {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	margin-left: 20px;
}

.nav-icon-wrap > svg {
	width: 30px;
	height: 30px;
	padding: 4px 0 4px;
}

.nav-icon-wrap .label {
	font-size: var(--font-regular);
	color: var(--color-navy);
}

.main-container {
	display: inline-grid;
	grid-row: 3;
	grid-column: 2 / 3;
	grid-template-columns: minmax(1190px, auto);
	grid-template-rows: 214px minmax(30vw, auto);
}

.main-container-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section-title {
	font-size: var(--font-large-title);
}

.filter {
	padding: 2px 8px;
	border: 1px solid var(--color-navy);
	border-radius: var(--size-border-radius-normal);;
}

.filter p {
	font-size: var(--font-semi-large);
}

.drop-board {
	display: inline-flex;
	justify-content: space-between;
}

.card-title {
	height: 70px;
	font-size: var(--font-small-title);
}

.card-item {
	grid-template-columns: 94px 1fr 30px;
	grid-template-rows: auto 47px;
	width: 372px;
	height: 156px;
	padding: 15px;
	border: 1px solid var(--color-navy);
	border-radius: var(--size-border-radius-medium);;
	background-color: var(--color-white);
}

.card-item img {
	grid-row: 1 / 3;
	grid-column: 1;
	width: 94px;
	height: 120px;
	justify-self: center;
	align-self: center;
	background-color: var(--color-navy);
}

.card-item h3 {
	grid-row: 1;
	grid-column: 2;
	margin: 0;
	padding-top: 10px;
	padding-left: 10px;
	font-weight: var(--weight-semi-bold);
}

.card-item span {
	grid-row: 1;
	grid-column: 3;
}

.card-item svg {
	padding-top: 6px;
}

.card-item svg path {
	color: var(--color-black);
}

.tag-wrap {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
}

.tag {
	padding: 3px;
	margin: 0 5px;
	border: 1px solid var(--color-gray);
	border-radius: var(--size-border-radius-normal);
	font-size: var(--font-micro);
	color: var(--color-dark-gray);
	background-color: var(--color-lite-gray);
}

.tag::after {
	content: "x";
	top: 0;
	right: 0;
	color: var(--color-dark-gray);
	margin-left: 4px;
}

.ly-modal .review-notice {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.ly-modal .review-notice {
	margin-bottom: 10px;
}
.ly-modal .review-notice h3 {
	margin-top: 0;
}
.ly-modal .review-notice p {
	color: var(--color-dark-gray);
	font-size: var(--font-micro);
}

.ly-modal .review-content-wrap {
	display: inline-flex;
	/*flex-direction: row;*/
}

.review-content h3 {
	margin: 0 0 10px 0;
}

.review-content p {
	color: var(--color-navy);
}

.review-content p span {
	color: var(--color-gray);
}

.review-content > label > textarea {
	min-width: 378px;
}

.review-image {
	height: 210px;
	width: 152px;
	margin-right: 24px;
	display: inline-flex;
	flex-direction: column;
}

.review-image img {
	margin-bottom: 24px;
}

.review-text {
	font-size: var(--font-micro);
	color: var(--color-dark-gray);
}

.title-icon-wrap {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.title-icon-wrap svg {
	padding: 3px;
}

.lite-icon > path {
	color: var(--color-dark-gray);
}
