:root {
	--color-black: #4f4f4f;
	--color-dark-gray: #828282;
	--color-gray: #bdbdbd;
	--color-lite-gray: #F8F8F8;
	--color-navy: #465562;
	--color-red: crimson;
	--color-dark-yellow: gold;
	--color-yellow: #FFE49B;
	--color-dark-beige: #c2ae92;
	--color-beige: #e4ddd1;
	--color-dark-white: #e5e5e5;
	--color-white: #ffffff;
	
	--font-style-gaegu: 'Gaegu', cursive;
	--font-style-poor: 'Poor Story', cursive;
	--font-style-gloria: 'Gloria Hallelujah', cursive;
	
	--font-logo: 2.5rem;
	--font-title-big: 2.375rem;
	--font-title-regular: 2rem;
	--font-title-small: 1.75rem;
	--font-title-semi-micro: 1.5rem;
	--font-title-micro: 1.2rem;
	
	--font-text-big: 1.625rem;
	--font-text-semi-big: 1.375rem;
	--font-text-regular: 1.125rem;
	--font-text-small: 0.875rem;
	--font-text-micro: 0.75rem;
	
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;
	
	--size-border-radius-large: 32px;
	--size-border-radius-normal: 16px;
	--size-border-radius-small: 4px;
	
	--button-large-width: 14rem;
	--button-large-height: 2.2rem;
	--button-regular-width: 7rem;
	--button-regular-height: 2rem;
	--button-small-width: 5rem;
	--button-small-height: 2rem;
	
	--box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
